<h1> <%= @test_passage.test.title %> Completed!</h1>

  <div>
    <p>
      Вы ответили верно на <%= @test_passage.correct_questions %> вопросов.
      Это <%= @test_passage.current_percent %>% от общего кол-ва вопросов
    </p>
  </div>
  
  <div>
    <h2>
      <font color="<%= test_passage_result.color %>"><%= test_passage_result.message %></font>
    </h2>
  </div>
  
  <div>
    <%= link_to 'All tests', root_path %>
  </div>
