<div class="nav user">
  <p>Project <%= github_url('beherit1977', 'testguru2') %> - for making and taking tests.</p>
  <% if signed_in? %>
    <p>Welcome,<b><%= :user_id %> Guru!</b>
      <%= link_to 'Sign out', logout_path, method: :delete %>
    </p>
  <% else %>
    <p>
      <%= link_to 'Register', user_new_path %> |
      <%= link_to 'Sign in', logout_path %>
    </p>
  <% end %>
</div>