<p id="notice"><%= notice %></p>

<p>
  <%= t('.header') %> :
  <%= @answer.question.text %>
</p>

<p>
  <b><%= t('.answer') %></b>
  <%= @answer.text %>
</p>

<p>
  <%= t('.correct') if @answer.correct %><br>
</p>

<%= link_to t('back'), admin_question_path(@answer.question) %>