<h1><%= t('.title') %> :
  <%= @test.title %>
</h1>

<p><%= t('.level')%> :
  <%= @test.level %>
</p>
<p>Publication date: <%= @test.created_at.strftime('%Y-%m-%d %H:%M') %></p>
<p><%= link_to 'New Question', new_admin_test_question_path(@test) %></p>

<table>
  <tr>
    <th><h3><%= t('.questions') %>:</h3> </th>
  </tr>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>

<p><%= link_to  t('.edit'), edit_admin_test_path(@test) %></p>
<p><%= link_to t('.back'), admin_tests_path %></p>
