<h1 class="text-center font-weight-normal"><%= t('.header') %></h1>

  <div class="table-responsive">
    <table class="table mt-3">
  
      <tr>
        <th class="sort-by-title pointer">
        <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= t('.level') %></th>
        <th><%= t('.questions') %></th>
        <th><%= t('.actions') %></th>
      </tr>
  
       <%= render @tests %>

       <% unless @tests.present? %>
        <th colspan="6"><%= t('.no_tests') %></th>
       <% end %>

     </table>
  </div>
